<div class="footer1" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 text-center footer1_1">
                <div class="footer1_1in">
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 text-center footer1_2">
                <div class="footer1_2in col-md-3 col-sm-6 col-xs-12">
                    <div class="footerTop">كافل لرعاية الأيتام</div><div><a href="/pages/1" title="النشأة والتأسيس">النشأة والتأسيس</a></div><div><a href="/pages/54" title="أهدافنا">أهدافنا</a></div><div><a href="/management" title="الإدارة العليا لكافل">الإدارة العليا لكافل</a></div><div><a href="/management2" title="أعضاء مجلس الإدارة">أعضاء مجلس الإدارة</a></div><div><a href="/management3" title="الأمانة العامة">الأمانة العامة</a></div><div><a href="/pages/35" title="إدارات كافل">إدارات كافل</a></div><div><a href="/pages/36" title="الهيكل الإداري">الهيكل الإداري</a></div>                </div>
                <div class="footer1_2in col-md-3 col-sm-6 col-xs-12">
                    <div class="footerTop">الخدمات الإلكترونية</div><div><a href="/pages/56" title="التوظيف">التوظيف</a></div><div><a href="/pages/37" title="شروط قبول الأسر">شروط قبول الأسر</a></div><div><a href="/pages/33" title="تطوع معنا">تطوع معنا</a></div><div><a href="http://it.kafel.org.sa" title="بوابة الموظفين">بوابة الموظفين</a></div><div><a href="https://kafel.org.sa/sys" title="خدمات الكفلاء">خدمات الكفلاء</a></div><div><a href="/pages/30" title="اكفل يتيم">اكفل يتيم</a></div><div><a href="/pages/20" title="تبرع الآن">تبرع الآن</a></div><div><a href="/pages/32" title="نموذج تسجيل أسرة">نموذج تسجيل أسرة</a></div>                </div>
                <div class="footer1_2in col-md-3 col-sm-6 col-xs-12">
                    <div class="footerTop">المركز الإعلامي</div><div><a href="/news" title="الأخبار">الأخبار</a></div><div><a href="/media" title="مكتبة الصور">مكتبة الصور</a></div><div><a href="/video" title="مكتبة الفيديو">مكتبة الفيديو</a></div><div><a href="/papers" title="الملف الصحفي">الملف الصحفي</a></div><div><a href="/qalo" title="كافل في عيونهم">كافل في عيونهم</a></div><div><a href="/reports" title="التقارير والإنجازات">التقارير والإنجازات</a></div><div><a href="/pages/55" title="أسئلة شائعة">أسئلة شائعة</a></div>                </div>
                <div class="footer1_2in col-md-3 col-sm-6 col-xs-12">
                    <div class="footerTop">نسعد بتواصلك</div><div><a href="/pages/2" title="أوقف فكرة">أوقف فكرة</a></div><div><a href="/pages/2" title="اتصل بنا">اتصل بنا</a></div><div><a href="/pages/2" title="الإقترحات والإستفسارات">الإقترحات والإستفسارات</a></div><div><a href="/pages/2" title="المكاتب التعريفية">المكاتب التعريفية</a></div>                </div>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12 text-center footer1_1">
                <div class="footer1_1inX">
                </div>
            </div>



            <div class="hidden-xs hidden-sm ">
                <div class="col-md-6 text-right footer2_1">
                    تاريخ اليوم :
                    4/3/2020 | 
                    اخر تحديث :
                    4/3/2020                </div>
                <div class="col-md-6 text-left footer2_2">
                    <div class="header_2_in_1_in">
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_1" href="https://twitter.com/kafel_makkah" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_2" href="https://www.facebook.com/kafel.makkah" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_3" href="https://www.youtube.com/channel/UCsBZa_j12a8M3h7aUx4tshw/videos" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_4" href="whatsapp://send?phone=966555721100&text=&source=&data="  target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_4x" href="https://instagram.com/kafel_makkah" target="_blank"></a>
                    </div>
                </div>
            </div>
            <div class=" hidden-lg hidden-md col-sm-12 col-xs-12">
                <div class="text-center footer2_1">
                    تاريخ اليوم :
                    4/3/2020 | 
                    اخر تحديث :
                    4/3/2020                </div>

                <div class="col-md-6 text-center footer2_2">
                    <div class="header_2_in_1_in">
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_1" href="https://twitter.com/kafel_makkah" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_2" href="https://www.facebook.com/kafel.makkah" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_3" href="https://www.youtube.com/channel/UCsBZa_j12a8M3h7aUx4tshw/videos" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_4" href="whatsapp://send?phone=966555721100&text=&source=&data="  target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_4x" href="https://instagram.com/kafel_makkah" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="footer2 hidden-xs hidden-sm ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-right footer2_1">
                <div class="footer2_1in"></div>
            </div>
            <div class="col-md-6 text-left footer2_2">
                <a class="footer2_2in" target="_blank" href="http://stech.ws" title="Powered by Stech.ws"></a>
            </div>
        </div>
    </div>
</div>
<div class="footer3 hidden-lg hidden-md">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center footer2_1">
                <div class="footer2_1in"></div>
            </div>

            <div class="col-md-6 text-center footer2_2">
                <a class="footer2_2in" target="_blank" href="http://stech.ws"></a>
            </div>
        </div>
    </div>
</div>        