<div class="floatDiv2M hidden-sm hidden-xs">
    <a id="floatDiv2" class="hidden-sm hidden-xs" href="pages/20.html" title="تبرع للجمعية">
    </a>
    <div class="floatDiv2X"></div>

</div>

<div class="header hidden-xs">
    <div class="container">
        <div class="row ">
            <div class="col-md-3 col-sm-5  header_1 bootstrap_noPadding">
                <a class="col-md-12 col-sm-12 col-xs-12 text-right header_1_1 bootstrap_noPadding " href="index.html">
                    <div class="header_1_1_1 col-md-12 col-sm-12 col-xs-12  Xanimated XinfiniteX  XbounceInDown Xdelay-5s"></div>
                </a>
            </div>
            <div class="col-md-9 col-sm-7 hidden-xs header_2">
                <div class="col-md-6 col-sm-12 header_2_in_2 bootstrap_noPadding">
                    <a href="tel:8002450245" class="header_2_in_2_in"></a>
                </div>
                <div class="col-md-6 hidden-sm header_2_in_1 bootstrap_noPadding">
                    <div class="header_2_in_1_in">
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_1" href="https://twitter.com/kafel_makkah" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_2" href="https://www.facebook.com/kafel.makkah" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_3" href="https://www.youtube.com/channel/UCsBZa_j12a8M3h7aUx4tshw/videos" target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_4" href="whatsapp://send?phone=966555721100&text=&source=&data="  target="_blank"></a>
                        <a class="toolbarItemL  hidden-sm hidden-xs footer1_1in_4x" href="https://instagram.com/kafel_makkah" target="_blank"></a>
                    </div>
                </div>
                 <div class="col-md-12 col-sm-12 header_2_in_2X bootstrap_noPadding">
                    <div class="header_2_in_2_inX"></div>
                </div>
            </div>

        </div>
    </div>       
</div> 

<div class="headerX2 hidden-lg hidden-md hidden-sm">
    <div class="container"> 
        <div class="row ">
            <a class="col-md-12 col-sm-12 col-xs-12 text-right header_1_1 bootstrap_noPadding " href="index.html">
                <div class="header_1_1_1 col-md-12 col-sm-12 col-xs-12  Xanimated XinfiniteX  XbounceInDown Xdelay-5s"></div>
            </a>
        </div> 
    </div>
</div>

<div class="headerX"> 
    <div class="container"> <div class="row ">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 header_2_2  text-left">
                

<div class="toolbar">
    <div class="container">
        <div class="row menuC">
            <div class="col-md-12" >
                <div id="btnToggle" class="toolbarItemL toolbar101 hidden-lg hidden-md" title="القائمة"></div>
                <!--<a class="toolbarItemL toolbar100 hidden-lg " href="/" title="الرئيسية"></a>-->
                <a class="toolbarItemR toolbarText  hidden-sm hidden-xs" href="index.html" >الرئيسية</a><div class="spacerMenu hidden-md hidden-sm hidden-xs">|</div><div class="dropdown toolbarItemR_no  hidden-sm hidden-xs ">
                                        <div class="toolbarText toolbarItemR dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">عن كافل</div>
                                            <div class="spacerMenu  hidden-sm hidden-xs">|</div>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><div><a href = "pages/1.html" >النشأة والتأسيس</a></div><div><a href = "pages/54.html" >أهدافنا</a></div><div><a href = "management.html" >الإدارة العليا لكافل</a></div><div><a href = "management2.html" >أعضاء مجلس الإدارة</a></div><div><a href = "management3.html" >الأمانة العامة</a></div><div><a href = "pages/45.html" >إدارات كافل</a></div><div><a href = "pages/36.html" >الهيكل الإداري</a></div></div></div><a class="toolbarItemR toolbarText  hidden-sm hidden-xs" href="pages/30.html" >اكفل يتيم</a><div class="spacerMenu hidden-md hidden-sm hidden-xs">|</div><a class="toolbarItemR toolbarText  hidden-sm hidden-xs" href="projects.html" >المشاريع والبرامج</a><div class="spacerMenu hidden-md hidden-sm hidden-xs">|</div><div class="dropdown toolbarItemR_no  hidden-sm hidden-xs ">
                                        <div class="toolbarText toolbarItemR dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">المركز الإعلامي</div>
                                            <div class="spacerMenu  hidden-sm hidden-xs">|</div>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><div><a href = "news.html" >الأخبار</a></div><div><a href = "qalo.html" >كافل في عيونهم</a></div><div><a href = "pages/55.html" >أسئلة شائعة</a></div><div><a href = "media.html" >مكتبة الصور</a></div><div><a href = "video/72.html" >مكتبة الفيديو</a></div><div><a href = "reports.html" >التقارير والإنجازات</a></div></div></div><div class="dropdown toolbarItemR_no  hidden-sm hidden-xs ">
                                        <div class="toolbarText toolbarItemR dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">الخدمات الإلكترونية</div>
                                            <div class="spacerMenu  hidden-sm hidden-xs">|</div>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><div><a href = "pages/20.html" >أرقام الحسابات</a></div><div><a href = "pages/31.html" >أصدقاء الايتام</a></div><div><a href = "pages/30.html" >اكفل يتيم</a></div><div><a href = "pages/56.html" >التوظيف</a></div><div><a href="https://sys.kafel.org.sa/">بوابة الموظفين</a></div><div><a href = "pages/33.html" >تطوع معنا</a></div><div><a href="https://sys.kafel.org.sa/">دخول الكفلاء</a></div><div><a href = "pages/37.html" >شروط قبول الأسر</a></div><div><a href = "pages/32.html" >نموذج تسجيل أسرة</a></div></div></div><a class="toolbarItemR toolbarText  hidden-sm hidden-xs" href="pages/20.html" >الحسابات البنكية</a><div class="spacerMenu hidden-md hidden-sm hidden-xs">|</div><a class="toolbarItemR toolbarText  hidden-sm hidden-xs" href="pages/2.html" >اتصل بنا</a>                <!--<a class="toolbarItemR toolbar8 hidden-md hidden-sm hidden-xs" href="/" title="البحث"></a>-->
                <div class="clear"></div>
            </div>
        </div>  
    </div>  
</div>            </div>
        </div> 
    </div> 
</div> 
