

<div id="menuLeft"  class="hidden-lg">

    <div class="list-group">


        <a class="toolbarItemR toolbarText" href="index.html" >الرئيسية</a><a class="toolbarItemR toolbarText" href="pages/41.html" >عن كافل</a><a class="toolbarItemR toolbarText" href="pages/30.html" >اكفل يتيم</a><a class="toolbarItemR toolbarText" href="projects.html" >المشاريع والبرامج</a><a class="toolbarItemR toolbarText" href="pages/39.html" >المركز الإعلامي</a><a class="toolbarItemR toolbarText" href="pages/44.html" >الخدمات الإلكترونية</a><a class="toolbarItemR toolbarText" href="pages/20.html" >الحسابات البنكية</a><a class="toolbarItemR toolbarText" href="pages/2.html" >اتصل بنا</a>         
    </div>
</div> 
<!--<div class="frontSlider hidden-lg hidden-md " style="height: 60px;width: 100%"></div>-->
<div class="frontSlider bootstrapLTR_Fix">
    <div class="container-fluid">
        <div class="row ">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-sm hidden-xs">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li><li data-target="#myCarousel" data-slide-to="1" class=""></li><li data-target="#myCarousel" data-slide-to="2" class=""></li><li data-target="#myCarousel" data-slide-to="3" class=""></li>                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active" href="#">
                        <img src="sites/default/files/styles/front_advban_1/public/cover/hero03_09b5e.jpg?itok=QoIj6A1_" alt="أمير منطقة مكة ونائبه يتسلمان التقرير الختامي لمبادرة مع اليتيم في البلد الأمين">
                      </div><div class="item " href="#">
                        <img src="sites/default/files/styles/front_advban_1/public/cover/hero038b9e.jpg?itok=fRyswnV_" alt="بنر 3">
                      </div><div class="item " href="#">
                        <img src="sites/default/files/styles/front_advban_1/public/cover/hero025e94.jpg?itok=dyxkUTN_" alt="بنر 2">
                      </div><div class="item " href="#">
                        <img src="sites/default/files/styles/front_advban_1/public/cover/hero01422f.jpg?itok=fS8WtOy0" alt="بنر 1">
                      </div>                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="frontSliderTop hidden-sm hidden-xs"></div>
        </div>
    </div>
</div>