<div class="container marketing">
        <section class="content ">
                        <div class="contentView clearfix pure-form">
                <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
            </div>
    
    
        
    
     
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-03-01%20at%202.46.57%20AM925b.jpg?itok=nqDqU2mO" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1729.html">اختتام فعاليات مبادرة لغة اليتيم الأول</a></h3>
            <div class="list_theme_1_body">نيابة عن صاحب السمو الملكي الأمير بدر بن سلطان بن عبد العزيز نائب أمير منطقة مكة المكرمة رعى سعادة أمين عام مجلس منطقة مكة المكرمة الأستاذ خالد بن حمود البقمي الحفل الختامي لمبادرة لغة اليتيم الأول بحضور نائب رئيس مجلس أمناء كافل الأستاذ عبد الله بن داود الفايز وعدد من المسؤولين ورجال الأعمال وتأتي هذه المبادرة بتنظيم من مؤسسة كافل لرعاية الأيتام بمنطقة مكة المكرمة.</div>
            <a class="list_theme_1_more" href="news/1729.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-26%20at%2010.31.03%20AMf85c.jpg?itok=91iRO7gI" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1728.html">الدكتورعاصم بن طاهر عرب يزور كافل</a></h3>
            <div class="list_theme_1_body">سعدنا بـ #كافل بزيارة سعادة المستشار الدكتور/ عاصم بن طاهر عرب رئيس اللجنة الوطنية للمكاتب الاستشارية للتعرف على أنشطة وبرامج المؤسسة.</div>
            <a class="list_theme_1_more" href="news/1728.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-26%20at%205.37.17%20PM9143.jpg?itok=nika1aJ1" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1727.html">الأمين العام يلتقى المشاركون في مبادرة بناء قدراتنا </a></h3>
            <div class="list_theme_1_body">فضيلة الأمين العام الشيخ الدكتور عبد العزيز بن داود الفايز يقدم شكره وتقديره لأعضاء #كافل المشاركين بمبادرة #بناءقدراتنابناء_مستقبلهم على مشاركتهم المميزة، ويتسلم درع المبادرة من الأعضاء.</div>
            <a class="list_theme_1_more" href="news/1727.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-28%20at%2011.36.34%20PM%20(1)e961.jpg?itok=fB4g5uQU" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1726.html">المشاركون في مبادرة لغة اليتيم في زيارة لمعرض الصحابة</a></h3>
            <div class="list_theme_1_body">ضمن الفعاليات المصاحبة لمبادرة #لغة_اليتيم_الأول قام أبناؤنا المشاركون في المبادرة بزيارة لمعرض الصحابة رضوان الله عليهم أجمعين للتعرف على أنسابهم ولغاتهم وقصصهم وأمجادهم.</div>
            <a class="list_theme_1_more" href="news/1726.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-28%20at%2011.36.34%20PM339a.jpg?itok=9alkXaI2" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1725.html">ملحمة اللغة الخالدة</a></h3>
            <div class="list_theme_1_body">الملاحم من فنون العرب، وفي مبادرة #لغة_اليتيم_الأول موج التحدي قائم على ملحمة اللغة الخالدة، وفريق #كافل ٰيشارك بملحمة أدبية.</div>
            <a class="list_theme_1_more" href="news/1725.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-29%20at%2012.48.20%20AM%20(4)1642.jpg?itok=QJBJpA6Y" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1724.html">بالتعاون مع الكهرباء كافل تقيم ورشة المتحدث القائد</a></h3>
            <div class="list_theme_1_body">ضمن المسار المعرفي لمبادرة #لغة_اليتيم_الأول والذي يهدف إلى توعية المشاركين بفنون اللغة العربية وأصول الفصاحة أقيمت ورشة عمل بعنوان "المتحدث القائد" بملتقى واحة اللغة العربية قدمتها الشركة السعودية للكهرباء</div>
            <a class="list_theme_1_more" href="news/1724.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-29%20at%2012.48.20%20AM%20(3)708f.jpg?itok=QLO4sCR7" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1723.html">كافل تقيم ملتقى واحة اللغة العربية بالتعاون مع تعليم مكة</a></h3>
            <div class="list_theme_1_body">ضمن فعاليات ملتقى واحة اللغة العربية بمبادرة #لغة_اليتيم_الأول شاركت الإدارة العامة للتعليم بمنطقة مكة المكرمة بأركان وفعاليات تثقيفية في فنون اللغة واشتملت على:- ١ - ركن جماليات الخط العربي. ٢- فعالية ( تعليم الخط العربي للنشء ).٣- فعالية( حروف وألوان للصغار ) ٤- فعالية ( منبر الإلقاء المرتجل والإنشاد والمسابقات للنشء ).</div>
            <a class="list_theme_1_more" href="news/1723.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-29%20at%2012.48.20%20AM%20(2)b966.jpg?itok=aiz_6ojI" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1722.html">فريق كافل في زيارة لمعرض جمعية كفى ضمن فعاليات لغة اليتيم</a></h3>
            <div class="list_theme_1_body">زيارة الفرق المشاركة في المبادرة لمعرض جمعية كفى للتوعية بأضرار التدخين والمخدرات ضمن مبادرة #لغة_اليتيم_الأول</div>
            <a class="list_theme_1_more" href="news/1722.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-29%20at%2012.48.20%20AM%20(1)c89b.jpg?itok=I-OckRu3" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1721.html">مستشفى الولادة بمكة يشارك في مبادرة لغة اليتيم الأول</a></h3>
            <div class="list_theme_1_body">شارك مستشفى الولادة والأطفال بمكة المكرمة - قسم العلاج الطبيعي بمعرض توعوي تثقيفي للأبناء المشاركين في مبادرة #لغة_اليتيم_الأول</div>
            <a class="list_theme_1_more" href="news/1721.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-29%20at%2012.48.20%20AMf750.jpg?itok=YHLtdESw" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1720.html">إدارة مكافحة المخدرات تقييم معرض ضمن لغة اليتيم الأول</a></h3>
            <div class="list_theme_1_body">أقامت الإدارة العامة لمكافحة المخدرات بالعاصمة المقدسة معرضا توعويا ضمن مبادرة #لغة_اليتيم_الأول تخلله محاضرة للتحذير من خطر التدخين والمخدرات.</div>
            <a class="list_theme_1_more" href="news/1720.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-29%20at%201.56.42%20AM6ee4.jpg?itok=ZZn7LFfg" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1719.html">جمعية الخط تقيم ورشة عمل في أساسيات الخط العربي</a></h3>
            <div class="list_theme_1_body">أقامت الجمعية العلمية السعودية للخط العربي ورشة عمل في أساسيات الخط العربي للمشاركين في مبادرة #لغة_اليتيم_الأول قدمها الأستاذ الدكتور عبد الله الفتيني رئيس الجمعية والأستاذ عبد الله الجفري والأستاذ منور صادقين.</div>
            <a class="list_theme_1_more" href="news/1719.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-15%20at%2011.49.54%20AM_09880.jpg?itok=AkNgxYW3" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1718.html">انطلاق مبادرة لغة اليتيم الأول</a></h3>
            <div class="list_theme_1_body">برعاية صاحب السمو الملكي الأمير بدر بن سلطان بن عبد العزيز نائب أمير منطقة مكة المكرمة تنطلق غدا الأربعاء الثالث من شهر رجب مبادرة لغة “اليتيم الأول” لأيتام منطقة مكة المكرمة والتي تنظمها مؤسسة كافل لرعاية الأيتام بمنطقة مكة المكرمة ضمن فعاليات ملتقى مكة الثقافي في دورته الرابعة تحت شعار "كيف نكون قدوة بلغة القرآن؟" وبمشاركة أكثر &nbsp;من 120 يتيم ويتيمة من 8 جمعيات مختصة ومهتمة بالأيتام من محافظات ومراكز منطقة مكة المكرمة.</div>
            <a class="list_theme_1_more" href="news/1718.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-14%20at%2012.08.38%20AMa651.jpg?itok=38v1FkbS" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1717.html">كافل تقيم مبادرة تطوعية تحت شعار "كيف نكون قدوة بلغة القرآن"</a></h3>
            <div class="list_theme_1_body">تضامنا مع فعاليات ملتقى مكة الثقافي في دورته الرابعة تحت شعار "كيف نكون قدوة بلغة القرآن؟" نفذت مؤسسة كافل لرعاية الأيتام بمنطقة مكة المكرمة ضمن مبادرتها "لغة اليتيم الأول" مبادرة تطوعية في توعية المجتمع باللغة العربية، نفذها فريق كافل التطوعي &nbsp;في "مكة مول" وتهدف إلى تعزيز استخدام اللغة العربية وغرس محبتها في نفوس المجتمع.</div>
            <a class="list_theme_1_more" href="news/1717.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-02-11%20at%202.42.08%20PM%20(2)b26a.jpg?itok=vF6S5uo9" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1716.html">أمير منطقة مكة ونائبه يتسلمان التقرير الختامي لمبادرة مع اليتيم في البلد الأمين</a></h3>
            <div class="list_theme_1_body">تسلم مستشار خادم الحرمين الشريفين أمير منطقة مكة المكرمة صاحب السمو الملكي الأمير خالد الفيصل ونائبه صاحب السمو الملكي الأمير بدر بن سلطان التقرير الختامي لمبادرة مع اليتيم في البلد الأمين والتي نفذتها مؤسسة كافل لرعاية الأيتام بمنطقة مكة المكرمة للعام الماضي ٢٠١٩م، سلم التقرير نائب رئيس مجلس أمناء كافل سعادة الأستاذ عبد الله بن داود الفايز بحضور فضيلة الأمين العام لكافل الشيخ الدكتور عبد العزيز الفايز ووفد من منسوبي كافل وأيتام البلد الحرام.</div>
            <a class="list_theme_1_more" href="news/1716.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/ELhL9pwXkAIKHZEdfc9.jpg?itok=ypM8_nxa" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1715.html">طلاب مدرسة الهجرة في زيارة خاصة لكافل</a></h3>
            <div class="list_theme_1_body">استقبلنا في كافل صباح اليوم نخبة من طلاب مدرسة الهجرة المتوسطة برفقة المعلمين وأولياء أمور الطلاب للتعرف على دور المؤسسة في رعاية وكفالة أيتام البلد الحرام . شكرا لأبنائنا وإخواننا الأعزاء على زيارتهم الكريمة </div>
            <a class="list_theme_1_more" href="news/1715.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/ELnbv01WwAAf8j9ac8e.jpg?itok=qw2LL6oz" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1714.html">أبناء كافل في زيارة وعيادة المرضى في إحدى المستشفيات</a></h3>
            <div class="list_theme_1_body">برنامج حافل لأبناء كافل اليوم: عيادة المرضى في إحدى المستشفيات ثم أداء صلاتي المغرب والعشاء بالمسجد الحرام وفندق سويس أوتيل المقام يقيم لهم مأدبة عشاء فشكر الله لهم حفاوتهم وضيافتهم .</div>
            <a class="list_theme_1_more" href="news/1714.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EMoeOhnWoAAC6Il8798.jpg?itok=rV4mOoQf" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1713.html">الأمين العام يلتقي المدير العام لفروع جمعية إعمار المساجد</a></h3>
            <div class="list_theme_1_body">استقبل فضيلة الأمين العام لـ كافل الشيخ د. عبد العزيز بن داود الفايز ظهر اليوم فضيلة المشرف العام على فروع جمعية إعمار المساجد الشيخ هايف بن نايف الدويش. تأتي الزيارة انطلاقا من حرص الطرفين على تبادل الخبرات وبحث أوجه التعاون المشترك.</div>
            <a class="list_theme_1_more" href="news/1713.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/ENRY8X4W4AE5N3l4a7c.jpg?itok=R9_vRzm-" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1712.html">فضيلة الأمين العام يلتقي رؤساء الأقسام لعرض الخطة السنوية.</a></h3>
            <div class="list_theme_1_body">التقى فضيلة الأمين العام الشيخ د.عبد العزيز بن داود الفايز رؤساء الأقسام بكافل، وجرى استعراض خطط الأقسام وموازناتها المالية لعام 2020م. نسأل الله القبول والتوفيق لخدمة ورعاية أبنائنا الكرام</div>
            <a class="list_theme_1_more" href="news/1712.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EOZEyMSWoAE0RQb79ce.jpg?itok=p0iBDrAC" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1711.html">أبناء كافل في زيارة لنادي الوحدة بمكة</a></h3>
            <div class="list_theme_1_body">نادي الوحدة الرياضي بمكة يستضيف أبناء كافل لقضاء يوم ممتع في أروقة النادي العريق استمتع فيه أبناؤنا بجولة في مرافق النادي وممارسة الأنشطة البدنية والرياضية.</div>
            <a class="list_theme_1_more" href="news/1711.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EOk4StoXUAEJYWv22f4.jpg?itok=8j7QjTSa" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1710.html">كافل تسلم 8 شقق للأسر بالتعاون مع الاسكان</a></h3>
            <div class="list_theme_1_body">ضمن برنامج الإسكان لأسر كافل تم بحمد الله تسليم ثمان وحدات سكنية لأسرنا بالتعاون مع شريكنا الاستراتيجي وزارة الإسكان ضمن مبادرة #الإسكان_التنموي . ونقول لهم: #منزل_مبارك</div>
            <a class="list_theme_1_more" href="news/1710.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EPhwr_AXsAA4Fsq9e84.jpg?itok=se9Yk73_" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1709.html">توقيع شراكة تدريبية مع وقف العتيق</a></h3>
            <div class="list_theme_1_body">وقع فضيلة الأمين العام الشيخ د. عبد العزيز الفايز اتفاقية شراكة تدريبية وتوظيفية مع وقف العتيق ممثلا بعضو مجلس نظارة الوقف سعادة الأستاذ حارث عسيري. وتسعى الاتفاقية إلى تحقيق التعاون وتعزيز الشراكة في مجالي التدريب والتوظيف لمستفيدي #كافل من خلال مبادرات ومشاريع وفق برنامج سنوي.</div>
            <a class="list_theme_1_more" href="news/1709.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EQFmDZUWAAA7XIv0d68.jpg?itok=yIaIV9fv" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1708.html">فضيلة الأمين العام يلتقي سعادة نائب الرئيس والمدير الإقليمي للمنطقة الغربية </a></h3>
            <div class="list_theme_1_body">التقى فضيلة الأمين العام الشيخ د.عبدالعزيز بن داود الفايز سعادة نائب الرئيس والمدير الإقليمي للمنطقة الغربية ببنك الجزيرة الأستاذ منصور بن حمد الشعيبي. تأتي الزيارة بهدف بحث أوجه التعاون المشترك لخدمة أيتام البلد الحرام</div>
            <a class="list_theme_1_more" href="news/1708.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EQHs6gTWsAgz2yN0b20.jpg?itok=MyeUx-rh" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1707.html">احتفل اليوم القسم النسائي بفتياته الشغوفات بحُب التطوع والعطاء في أمسيه</a></h3>
            <div class="list_theme_1_body">بعد مرور عام مليء بالعطاء و الإنجاز احتفل اليوم القسم النسائي بفتياته الشغوفات بحُب التطوع والعطاء في أمسيه سُطرت بعنوان *أمسية الوفاء و العطاء* لتكريم عضوات فريق كافل التطوعي على جهودهن ومبادراتهن خلال عام 2019 م. سائلين المولى لهن مزيداً من التوفيق و النجاح </div>
            <a class="list_theme_1_more" href="news/1707.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EQfYNq-XkAACEGo8d66.jpg?itok=7EZuEhwc" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1706.html">برنامج تأهيل القدرات للمرحلة الثانوية</a></h3>
            <div class="list_theme_1_body">أقامت إدارة الرعايات بكافل وضمن البرامج التعليمية : برنامج تأهيل القدرات للمرحلة الثانوية والذي يهدف إلى تأهيل الطلاب وتهيئتهم لاختبارات القدرات. قدم البرنامج الأستاذ خالد فلاته.</div>
            <a class="list_theme_1_more" href="news/1706.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202019-12-09%20at%203.23.56%20PM_05e5b.jpg?itok=so-CeCkD" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1705.html">بالتعاون مع رئاسة شؤون الحرمين مستفيدات كافل يقمن برنامج أقرأ لتسعد</a></h3>
            <div class="list_theme_1_body">أقيمت اليوم دورة ( اقرأ لتسعد) بمكتبة المسجد الحرام ضمن سلسلة الدورات التدريبية المقدمة لمستفيدات كافل بمبادرة من الرئاسة العامة لشؤون المسجد الحرام والمسجد النبوي ضمن مشاركة الرئاسة في مبادرة مع اليتيم في البلد الأمين</div>
            <a class="list_theme_1_more" href="news/1705.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202019-12-09%20at%203.24.00%20PM(1)ba0e.jpg?itok=egkg4OS-" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1704.html">مستشفى الولادة والأطفال بالعاصمة المقدسة ينفذ برنامج لأبناء كافل</a></h3>
            <div class="list_theme_1_body">نفّذ مستشفى الولادة والأطفال بالعاصمة المقدسة برنامجا تطوعيا بالكشف الصحي والتوعية الصحية والغذائية لأكثر من ١٥٠ من أبناء وبنات #كافل ضمن فعاليات #اليوم العالمي للتطوع وذلك بمقر المؤسسة بمكة المكرمة
نشكرهم جزيل الشكر على هذا البرنامج النوعي المميز ..</div>
            <a class="list_theme_1_more" href="news/1704.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img class="team-img" src="sites/all/themes/newTheme/images/360x250.png" alt="Generic placeholder image">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1703.html">في اليوم العالمي للتطوع "ولادة مكة" و"كافل" يطلقان مبادرة "أنتم أبناؤنا" وبحضور 150 من الأيتام.</a></h3>
            <div class="list_theme_1_body">أقام قسم الرعاية الصحية بمؤسسة كافل وبالشراكة مع مستشفى الولادة والأطفال بالعاصمة المقدسة مبادرة "أنتم أبناؤنا" وذلك ضمن فعاليات اليوم العالمي للتطوع 2019 وقد شملت القافلة الطبية عددا من الأطباء الاستشاريين في تخصص الأطفال ومن أقسام التمريض والخدمة الاجتماعية والتغذيه العلاجية.</div>
            <a class="list_theme_1_more" href="news/1703.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EIMcEHCWkAIly12ae76.jpg?itok=YQnAfSPn" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1702.html">الأمين العام يستقبل سعادة مدير عام التعليم بمنطقة مكة د.أحمد الزائدي</a></h3>
            <div class="list_theme_1_body">استقبل فضيلة الأمين العام د. عبدالعزيز الفايز اليوم سعادة مدير عام التعليم بمنطقة مكة المكرمة الدكتور أحمد الزائدي لدى زيارته مقر المؤسسة والذي التقى خلال الزيارة  بنخبة من أبنائنا الأيتام واطلع على جانب من الخدمات التي تقدمها كافل للمستفيدين</div>
            <a class="list_theme_1_more" href="news/1702.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EHYyWg6WsAAXs9dcde8.jpg?itok=QKMplSyY" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1701.html">كاففل توقع مذركة تعاون مع الشركة السعودية للكهرباء</a></h3>
            <div class="list_theme_1_body">احتفت #كافل بتوقيع مذكرة تعاون مجتمعي مع الشركة السعودية للكهرباء للمساهمة في دعم البرامج المقدمة لأيتام البلد الحرام&nbsp;وقع الاتفاقية من الجانبين المدير التنفيذي لكافل الأستاذ باسم الرويثي ونائب الرئيس التنفيذي للاتصال والعلاقات العامة المهندس حمود الغبيني، بحضور رئيس القطاع الغربي للشركة المهندس عبد السلام العمري.</div>
            <a class="list_theme_1_more" href="news/1701.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
             
            <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                 



<div class="list_theme_1">
    <div class="thumbnail block_1"> 
        <img src="sites/default/files/styles/list_theme_1/public/cover/EH_JncnXkAU_C-Ndb28.jpg?itok=JmbHAxsn" class="team-img">        <div class="caption">
            <h3 class="list_theme_1_title"><a href="news/1700.html">"الفايز" يوقع مذكرة تعاون مع كلية طب الاسنان</a></h3>
            <div class="list_theme_1_body">بحضور معالي مدير جامعة أم القرى الأستاذ الدكتور عبد الله بافيل وقع فضيلة الأمين العام د. عبدالعزيز الفايز وسعادة عميد كلية طب الأسنان بجامعة أم القرى الدكتور عبد العزيز خوتاني مذكرة تفاهم نوعية لخدمة أبنائنا الأيتام وذلك بمكتب معالي مدير الجامعة&nbsp;تهدف الاتفاقية التي تستمر لمدة عام كامل إلى تعزيز التعاون المشترك بين الطرفين مما يعود بالنفع على الفئات المستهدفة، إضافة الى التبادل والتكامل بين الخبرات الصحية والإدارية والتسويقية والإعلامية بين الطرفين.</div>
            <a class="list_theme_1_more" href="news/1700.html">المزيد</a>
        </div>
    </div>
</div>
            </div>
                <div class="Pager clear"><div class="item-list"><ul class="pagination"><li class="pager-current first"><a title="Go to page 1" href="news.html">1</a></li>
<li class="pager-item"><a title="Go to page 2" href="news2679.html?page=1">2</a></li>
<li class="pager-item"><a title="Go to page 3" href="news4658.html?page=2">3</a></li>
<li class="pager-item"><a title="Go to page 4" href="news9ba9.html?page=3">4</a></li>
<li class="pager-item"><a title="Go to page 5" href="newsfdb0.html?page=4">5</a></li>
<li class="pager-item"><a title="Go to page 6" href="newsaf4d.html?page=5">6</a></li>
<li class="pager-item"><a title="Go to page 7" href="newsc575.html?page=6">7</a></li>
<li class="pager-item"><a title="Go to page 8" href="news235c.html?page=7">8</a></li>
<li class="pager-item"><a title="Go to page 9" href="newsfdfa.html?page=8">9</a></li>
<li class="pager-next pager_bg2"><a href="news2679.html?page=1">›</a></li>
<li class="pager-last pager_bg last"><a href="news0b08.html?page=9">»</a></li>
</ul></div></div>
    
    
    </div>



            </div>
        </section>
    </div>