    <!-- psection des news -->
    <div class="newThemeHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center newThemeHeaderIn">
                    مشاريع 
                </div>
            </div>
        </div>
    </div>
<div class="container marketing">
    <section class="content ">
        <div class="contentView clearfix pure-form">
            <div class="row">
                
                <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                    <div class="list_theme_1">
                        <div class="thumbnail block_1"> 
                            <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-03-01%20at%202.46.57%20AM925b.jpg?itok=nqDqU2mO" class="team-img">        <div class="caption">
                            <h3 class="list_theme_1_title"><a href="news/1729.html">اختتام فعاليات مبادرة لغة اليتيم الأول</a></h3>
                            <div class="list_theme_1_body">نيابة عن صاحب السمو الملكي الأمير بدر بن سلطان بن عبد العزيز نائب أالأسة المكرمة.</div>
                                <a class="list_theme_1_more" href="news/1729.html">المزيد</a>
                            </div>
                        </div>
                    </div>
                </div>

               
                <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                    <div class="list_theme_1">
                        <div class="thumbnail block_1"> 
                            <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-03-01%20at%202.46.57%20AM925b.jpg?itok=nqDqU2mO" class="team-img">        <div class="caption">
                            <h3 class="list_theme_1_title"><a href="news/1729.html">اختتام فعاليات مبادرة لغة اليتيم الأول</a></h3>
                            <div class="list_theme_1_body">نيابة عن صاحب السمو الملكي الأمير بدر بن سلطان بن عبد العزيز نائب أالأسة المكرمة.</div>
                                <a class="list_theme_1_more" href="news/1729.html">المزيد</a>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="list_news  col-md-4 col-sm-6 col-xs-12">
                    <div class="list_theme_1">
                        <div class="thumbnail block_1"> 
                            <img src="sites/default/files/styles/list_theme_1/public/cover/WhatsApp%20Image%202020-03-01%20at%202.46.57%20AM925b.jpg?itok=nqDqU2mO" class="team-img">        <div class="caption">
                            <h3 class="list_theme_1_title"><a href="news/1729.html">اختتام فعاليات مبادرة لغة اليتيم الأول</a></h3>
                            <div class="list_theme_1_body">نيابة عن صاحب السمو الملكي الأمير بدر بن سلطان بن عبد العزيز نائب أالأسة المكرمة.</div>
                                <a class="list_theme_1_more" href="news/1729.html">المزيد</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- fin de section des news -->