<div class="newThemeHeader"><div class="container"><div class="row"><div class="col-md-12 text-center newThemeHeaderIn">عن كافل</div></div></div></div>
    <div class="container marketing">
        <section class="content ">
                        <div class="contentView clearfix pure-form">
                <div class="col-md-12 col-sm-12 col-xs-12 list_view_2 bootstrap_noPadding" >
    <div class="thumbnail block_1"> 

        <div class="caption">
            <div class="list_view_2_body"><style type="text/css">.text-img {
                                        font-size: 18px;
                                    }
.img-brand img {
    margin-top: -80px;
}
                                    .text-limit {
                                        font-size: 18px;
                                    }
                                    .footer-s {
                                        background-color: #333;
                                        color: white;
                                        padding: 0px;
                                        margin-top: 30px;
                                    }
                                    .vision-message {
                                        margin-top: 30px;
                                        background-color: #f3f3f3;
                                        padding: 30px;
                                    }
                                    .limit-s {
                                        margin-top: 30px;
                                    }
                                    .text-f {
                                        text-align: center;
                                        font-size: 18px;
                                    }
                                    .text-f p {
                                        color: #00a654;
                                        font-weight: bold;
                                    }
                                    .text-f p span {
                                        color: white;
                                        padding-right: 30px;
                                        font-weight: normal;
                                    }
                                    @media (min-width: 991px) {
                                        .text-img {
                                            margin-top: 60px;
                                        }
                                    }
                                    @media (min-width: 1200px) {
                                        .text-img {
                                            margin-top: 60px;
                                        }
                                        .text-limit {
                                            margin-top: 60px;
                                        }
                                        .vision-message {
                                        padding-right: 150px;
                                    }
                                    }
</style>
<section>
<div class="row">
<div class="col-md-6 col-sm-12 img-top text-center">
    <img style="height: 80px;" alt="" src="/sites/all/themes/newTheme/images/Kafel-V2_03.png" /></div>

<div class="col-md-6 col-sm-12">
<p class="text-center text-img">كافل لرعاية الأيتام بمنطقة مكة المكرمة هي مؤسسة خيرية ( غير ربحية ) تُعنى بكفالة ورعاية أبنائنا الأيتام رعاية شاملة لينالوا نصيبهم من الرعاية الاجتماعية والتربوية والتعليمية والصحية والترفيهية وتدريبهم وتأهيلهم لسوق العمل ، بما يضمن نشأتهم نشأة طيبة حتى يستغنوا وليكونوا لبنة صالحة في مجتمعهم بإذن الله.</p>
</div>
</div>
</section>

<section class="vision-message">
<div class="row">
<div class="col-md-6 col-sm-12">
<h1>رؤيتنا</h1>

<p>الريادة في العمل المؤسسي في رعاية الأيتام بالمملكة العربية السعودية.</p>
</div>

<div class="col-md-6 col-sm-12">
<h1>رسالتنا</h1>

<p>العمل بأفضل الممارسات في رعاية الأيتام.</p>
</div>
</div>
</section>
            </div></div></div></div></div></section></div>