<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="sites/all/themes/newTheme/favicon.ico" type="image/vnd.microsoft.icon" />
        <meta name="Generator" content="Drupal 7 (http://drupal.org)" />
        <title>الرئيسية | مؤسسة كافل لرعاية الأيتام</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="كافل لرعاية الأيتام بمنطقة مكة المكرمة هي مؤسسة خيرية ( غير ربحية ) تُعنى بكفالة ورعاية أبنائنا الأيتام رعاية شاملة" />
        <meta name="keywords" content="كافل,أيتام,يتيم,أيتام,الشيخ,الفايز,جزاء,يوسف,محمد,موقع,الوزراة,أيتام,لقطة,مقاطع,صو,جمعية,البر بالشرائع,البر بالشرائع,البر الخيرية,الأيتام,مشاريع,برامج خيرية,كافل,أيتام,أرامل,يتيم,أيتام,الشيخ,الفايز,جزاء,يوسف,محمد,موقع,الوزراة,أيتام,لقطة,مقاطع,صور" />
        <script type="text/javascript">
        var js_path = 'index.html';
        var js_path_theme = 'sites/all/themes/newTheme';
        var arg0 = 'front';
        </script>
        <link type="text/css" rel="stylesheet" href="sites/default/files/css/css_R-slMEj6rJBamqClUE8NGYB_qxwBfAW582ITDGL3RBQ.css" media="all" />
        <link type="text/css" rel="stylesheet" href="sites/default/files/css/css_dio56iBky-A1nmWs5uQOOEJPo6Ndu_Gor95HNTzPUDo.css" media="all" />
        <link type="text/css" rel="stylesheet" href="sites/default/files/css/css_lHEg9jjTv3LBzQbt1_FWmMFEVBDmYxIOTK7P3tUPoHk.css" media="all" />
        <link type="text/css" rel="stylesheet" href="sites/default/files/css/css_SjvuoqW3w6rXDbQOBtq-b-b9pDsRKkTe1Ide40zjAz4.css" media="all" />
        <link type="text/css" rel="stylesheet" href="sites/default/files/css/css_47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU.css" media="print" />
        <link type="text/css" rel="stylesheet" href="sites/default/files/css/css_PqoOL5eO1J-Fnanmuu0vVbWnAqOzp4nyZqQ0QTeuCro.css" media="all" />
        <link type="text/css" rel="stylesheet" href="sites/style.css"  />
       
        <script type="text/javascript" src="sites/default/files/js/js_PeeIprTAgAmJu5PGO6cYwM3WWyV4Ehi1dgoTmWgAT1c.js"></script>
        <script type="text/javascript" src="sites/default/files/js/js_nVIpccHHOEn5i_anfSdYrrKdMoO9GXujqxVZB80vJ5M.js"></script>
        <script type="text/javascript" src="sites/default/files/js/js_sUhxamfyMf4434VmeEgrBLhTfGEatwQyH8XN4g9GfsE.js"></script>
        <script type="text/javascript" src="sites/default/files/js/js_WQPM1RFfnzBorzKNpEugc8AqvKOBvQCVTtl9XSs8kdw.js"></script>
        <script type="text/javascript" src="sites/default/files/js/js_iLp4UuY77BJd_7WcI3-SXfc9blBZnCZIqiPdz3FL6ig.js"></script>
        <script type="text/javascript">
        <!--//--><![CDATA[//><!--
        jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"newTheme","theme_token":"gPbb6SaYTenkJqguB12G84xGN91Ms4cxOGf0ZnJv1qA","js":{"sites\/all\/modules\/common\/jquery_update\/replace\/jquery\/1.12\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/common\/jquery_update\/replace\/ui\/ui\/jquery.ui.core.js":1,"sites\/all\/modules\/common\/jquery_update\/replace\/ui\/ui\/jquery.ui.datepicker.js":1,"modules\/locale\/locale.datepicker.js":1,"public:\/\/languages\/ar__hq7KRUZLbiPtd1-UyRGAwUmFNzAjl-xV9k5m28GcRw.js":1,"sites\/all\/themes\/newTheme\/script.js":1,"sites\/all\/themes\/newTheme\/css\/bootstrap-3.3.7-dist\/js\/bootstrap.min.js":1,"sites\/all\/themes\/newTheme\/js\/OwlCarousel2-2.2.1\/dist\/owl.carousel.min.js":1,"sites\/all\/themes\/newTheme\/js\/lightbox\/jquery.lightbox-0.5.min.js":1,"sites\/all\/themes\/newTheme\/js\/scrollme-master\/jquery.scrollme.min.js":1,"sites\/all\/themes\/newTheme\/js\/BootSideMenu-master\/js\/BootSideMenu.js":1,"sites\/all\/themes\/newTheme\/js\/jquery.mobile.custom\/jquery.mobile.custom.js":1,"sites\/all\/themes\/newTheme\/tpl\/header.js":1,"sites\/all\/themes\/newTheme\/tpl\/menu.js":1,"sites\/all\/themes\/newTheme\/tpl\/menu_left.js":1,"sites\/all\/themes\/newTheme\/tpl\/slider.js":1,"sites\/all\/themes\/newTheme\/cssSite\/front_counters.js":1,"sites\/all\/themes\/newTheme\/cssSite\/front_2.js":1,"sites\/all\/themes\/newTheme\/cssSite\/front_3.js":1,"sites\/all\/themes\/newTheme\/cssSite\/front_9.js":1,"sites\/all\/themes\/newTheme\/cssSite\/front_partners.js":1,"sites\/all\/themes\/newTheme\/tpl\/footer.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.base-rtl.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.menus-rtl.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.messages-rtl.css":1,"modules\/system\/system.theme.css":1,"modules\/system\/system.theme-rtl.css":1,"misc\/ui\/jquery.ui.core.css":1,"misc\/ui\/jquery.ui.theme.css":1,"misc\/ui\/jquery.ui.datepicker.css":1,"modules\/field\/theme\/field.css":1,"modules\/field\/theme\/field-rtl.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/search\/search-rtl.css":1,"modules\/user\/user.css":1,"modules\/user\/user-rtl.css":1,"sites\/all\/modules\/common\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/common\/ckeditor\/css\/ckeditor-rtl.css":1,"sites\/all\/themes\/newTheme\/css\/bootstrap-3.3.7-dist\/css\/bootstrap.min.css":1,"sites\/all\/themes\/newTheme\/css\/bootstrap-3.3.7-dist\/css\/bootstrap-theme.min.css":1,"sites\/all\/themes\/newTheme\/js\/OwlCarousel2-2.2.1\/dist\/assets\/owl.carousel.min.css":1,"sites\/all\/themes\/newTheme\/js\/OwlCarousel2-2.2.1\/dist\/assets\/owl.theme.default.min.css":1,"sites\/all\/themes\/newTheme\/css\/font-awesome-4.7.0\/css\/font-awesome.min.css":1,"sites\/all\/themes\/newTheme\/BootstrapRtl.css":1,"sites\/all\/themes\/newTheme\/js\/lightbox\/jquery.lightbox-0.5.css":1,"sites\/all\/themes\/newTheme\/js\/lightbox\/lightbox.css":1,"sites\/all\/themes\/newTheme\/css\/animate.min.css":1,"sites\/all\/themes\/newTheme\/js\/BootSideMenu-master\/css\/BootSideMenu.css":1,"sites\/all\/themes\/newTheme\/js\/BootSideMenu-master\/css\/theme\/dracula.css":1,"sites\/all\/themes\/newTheme\/styleS.css":1,"sites\/all\/themes\/newTheme\/style.css":1,"sites\/all\/themes\/newTheme\/css\/pure-min.css":1,"sites\/all\/themes\/newTheme\/print.css":1,"sites\/all\/themes\/newTheme\/tpl\/header.css":1,"sites\/all\/themes\/newTheme\/tpl\/menu.css":1,"sites\/all\/themes\/newTheme\/tpl\/menu_left.css":1,"sites\/all\/themes\/newTheme\/tpl\/slider.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_1.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_counters.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_2.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_3.css":1,"sites\/all\/modules\/ref\/tpl\/list\/css\/ref_list_19.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_7.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_11.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_8.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_10.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_9.css":1,"sites\/all\/modules\/ref\/tpl\/list\/css\/ref_list_2.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_5.css":1,"sites\/all\/themes\/newTheme\/cssSite\/front_partners.css":1,"sites\/all\/themes\/newTheme\/tpl\/footer.css":1}},"jquery":{"ui":{"datepicker":{"isRTL":true,"firstDay":0}}}});
        //--><!]]>
        </script>
   
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/footer.html.twig" %}

        {% block javascripts %}{% endblock %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67279774-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-67279774-1');
        </script>
    </body>
</html>
